name: Update Store API

on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 */1 * *

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  save-file:    
    name: "Save file"
    runs-on: ubuntu-latest
    env:
      LATEST_SW_VERSION: ''
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - shell: bash
        run: |
          cp storeapi.json storeapi-original.json
          LATEST_SW_VERSION="$(curl -s https://api.github.com/repos/shopware/shopware/releases/latest | jq -r '.tag_name')" >> $GITHUB_ENV
      - name: Upload original file
        uses: actions/upload-artifact@v3
        with:
          name: original-file
          path: storeapi-original.json
  # This workflow contains a single job called "build"
  generate-schema:
    uses: shopware/docs-ci/.github/workflows/generate_schema.yml@main
    with:
      schema_flags: --store-api
      schema_file: storeapi.json
      shopware_version: ${{ env.FILE_DIFFERENCE }}
    secrets: inherit
        
  open-pr:
    name: "Open a pull request"
    runs-on: ubuntu-latest
    needs: [generate-schema]
    env:
      FILE_DIFFERENCE: 0
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: download api schema
      uses: actions/download-artifact@v3
      with:
        name: ${{needs.generate-schema.outputs.api_schema}}

    - name: install yq
      uses: cachix/install-nix-action@v18

    - name: Add custom descriptions
      run: |
        for k in $(yq '. | keys | .[]' descriptions.yml); do
          newDescription=$(yq ".\"$k\"" descriptions.yml);
          # Indent 4; output as json; edit in place
          yq  -I 4 -o json -i "$k.description = \"${newDescription}\"" storeapi.json
        done

    - name: Download original file
      uses: actions/download-artifact@v3
      with:
        name: original-file

    - name: Prettify
      run: |
        sudo apt-get update
        sudo apt-get install -y moreutils
        jq . storeapi.json | sponge storeapi.json
        cmp <(sort storeapi.json) <(sort storeapi-original.json) || echo "FILE_DIFFERENCE=1" >> $GITHUB_ENV
        rm storeapi-original.json
      
    - name: Create PR
      if: ${{ env.FILE_DIFFERENCE == 1 }}
      uses: peter-evans/create-pull-request@v4
      with:
        add-paths: storeapi.json
        author: shopwareBot <example@example.com>
        committer: shopwareBot <example@example.com>
        assignees: sushmangupta, Isengo1989, bojanrajh
        branch: latest-tagged-schema-update
        delete-branch: true
        title: 'Update latest tagged store API schema'
