name: Update DSR Store API

on:
  push:
    branches:
      - 'dx-adhoc/**'

env:
  PLUGIN_NAME: SwagGuidedShopping
  PLUGIN_URL: gitlab.shopware.com/shopware/6/services/swagguidedshopping.git
  COMPOSER_PACKAGES: shopware-pwa/shopware-pwa symfony/mercure ^0.6.2 spatie/icalendar-generator ^2.5

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  vars:
    runs-on: ubuntu-22.04
    outputs:
      PLUGIN_NAME: ${{ env.PLUGIN_NAME }}
      PLUGIN_URL: ${{ env.PLUGIN_URL }}
      COMPOSER_PACKAGES: ${{ env.COMPOSER_PACKAGES }}
    steps:
      - run: echo "Exposing env vars"
  # This workflow contains a single job called "build"
  generate-schema:
    needs: vars
    uses: shopware/docs-ci/.github/workflows/generate_schema.yml@dx-adhoc/add-workflow-for-dsr
    with:
      api_type: storeapi
      plugin_name: ${{ needs.vars.outputs.PLUGIN_NAME }}
      plugin_url: ${{ needs.vars.outputs.PLUGIN_URL }}
      composer_packages: ${{ needs.vars.outputs.COMPOSER_PACKAGES }}
      git_options: --single-branch --branch 6.5-compatibility
    secrets: 
      DEPLOY_USER: ${{ secrets.DIGITALSALESROOM_DEPLOY_USER }}
      DEPLOY_TOKEN: ${{ secrets.DIGITALSALESROOM_DEPLOY_TOKEN }}
  open-pr:
    name: "Open a pull request"
    runs-on: ubuntu-latest
    needs: [generate-schema,vars]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: download api schema
        uses: actions/download-artifact@v3
        with:
          name: ${{needs.generate-schema.outputs.api_schema}}

      - name: install yq
        uses: cachix/install-nix-action@v18

      - name: Prettify
        run: |
          sudo apt-get update
          sudo apt-get install -y moreutils
          jq . ${{ needs.vars.outputs.PLUGIN_NAME }}-storeapi.json | sponge ${{ needs.vars.outputs.PLUGIN_NAME }}-storeapi.json

      - name: Create DSR PR
        uses: peter-evans/create-pull-request@v4
        with:
          add-paths: ${{ needs.vars.outputs.PLUGIN_NAME }}-storeapi.json
          author: shopwareBot <example@example.com>
          committer: shopwareBot <example@example.com>
          assignees: Isengo1989
          branch: ${{ needs.vars.outputs.PLUGIN_NAME }}-schema-update
          delete-branch: true
          title: 'Update ${{ needs.vars.outputs.PLUGIN_NAME }} store API schema'
